<launch>
	<param name="use_sim_time" 			value="true" />
	<arg name="nr"	/>
	<arg name="export"					default="0" />
	<arg name="play"					default="1" />
	<arg name="filter"					default="0" />
	<arg name="rate"					default="0.5" />
	<arg name="usebag_tf" 				default="1" />
	<arg name="tf_calibration" 			default="0" />
	<arg name="bag_start_time"			default="0" />
	<arg name="bag_delay"				default="3" />
	<arg name="match_image_pointcloud"	default="1" />
	<arg name="state_publisher"			default="0" />
	<arg name="save"					default="0" />
	<arg name="fusion"					default="0" />
	<arg name="aggregated"				default="0" />
	<arg name="nodelet_manager_name" 	default="ladybug_nodelet_manager" />
	<arg name="path" 					default="/media/Daten/bagfiles/fh-campus/$(arg nr)/" />
	<arg name="path_kitti"				default="/media/Daten/kitti/barney/fh-campus/000$(arg nr)/" />
	<arg name="files" default="$(arg path)description.bag 
							   $(arg path)diag.bag
							   $(arg path)hokuyo.bag
							   $(arg path)imu.bag
							   $(arg path)ladybug5_camera.bag
							   $(arg path)ladybug5_panoramic.bag
							   $(arg path)ladybug5_sensors.bag
							   $(arg path)velodyne.bag
							   " />

	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate $(arg rate) $(arg files) -s $(arg bag_start_time) -d $(arg bag_delay)" if="$(arg play)">
		<remap unless="$(arg usebag_tf)" from="/tf" to="/tf_old" />
	</node>
	
	<!-- Robot description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find barney)/urdf/barney.urdf.xacro'"  	if="$(arg usebag_tf)"/>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" 			 if="$(arg state_publisher)" />
	
	<include file="$(find barney)/launch/ekf.launch" />
	
	<!-- get static transforms -->   
    <include file="$(find barney)/launch/description.launch" 	unless="$(arg usebag_tf)" >
		<arg name="demo" value="true"/>
    </include>
    <include file="$(find barney)/launch/transforms.launch" 	unless="$(arg usebag_tf)" />
	
    <!-- start filter -->
    <include file="$(find barney)/launch/velodyne_rectify.launch" />
    <include file="$(find pcl_filter)/launch/filter.launch" if="$(arg filter)" />
   
	<!-- Calibration -->
    <include file="$(find tf2_dynamic)/launch/tf2_dynamic.launch" if="$(arg tf_calibration)">
    	<arg name="parent_frame" value="ladybug_camera4"/>
    	<arg name="child_frame"  value="ladybug_camera4_calibrated"/>
    </include>
  	
 	<!-- Vision -->
    <include file="$(find ladybug)/launch/full.launch">
 		<arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
 		<arg name="connect"				 value="false"/>
 		<arg name="threads"				 value="12"/>
 		<arg name="rotate"				 value="true"/>
 		<arg name="zoom"				 value="2.2" />
    </include>	
	
    <!-- Fusion -->
    <include file="$(find image_cloud)/launch/fusion.launch" if="$(arg fusion)">
		<arg name="name"						value="image4_pcl_fusion"/>
 		<arg name="nodelet_manager" 			value="$(arg nodelet_manager_name)"/>
 		<arg name="subscribe_topic_pcl"	 		value="/velodyne/cloud"/>
 		<arg name="subscribe_topic_image"		value="/ladybug5/camera4/image_color_rect" />
  		<arg name="subscribe_topic_image_info" 	value="/ladybug5/camera4/image_color_rect_info" />
  		<arg name="image_tf_frame_id"			value="" />
  		<arg name="save"						value="$(arg save)" />
  		<arg name="tf_buffer_length"			value="30" />
  		<arg name="publish_pointcloud" 			value="/velodyne/cloud/color/camera4" />
	    <arg name="publish_image"	 			value="/ladybug5/camera4/image_color_rect/fused/image" />
    </include>
    
    <!-- Fusion -->
    <include file="$(find image_cloud)/launch/fusion.launch" if="$(arg fusion)" >
		<arg name="name"						value="image4_pcl_fusion_tilt"/>
 		<arg name="nodelet_manager" 			value="$(arg nodelet_manager_name)"/>
 		<arg name="subscribe_topic_pcl"	 		value="/cloud_aggregator/add"/>
 		<arg name="subscribe_topic_image"		value="/ladybug5/camera4/image_color_rect" />
  		<arg name="subscribe_topic_image_info" 	value="/ladybug5/camera4/image_color_rect_info" />
  		<arg name="image_tf_frame_id"			value="" />
  		<arg name="save"						value="$(arg save)" />
  		<arg name="tf_buffer_length"			value="30" />
  		<arg name="publish_pointcloud" 			value="/velodyne/cloud/color/camera4 "/>
	    <arg name="publish_image"	 			value="/ladybug5/camera4/image_color_rect/fused/image"/>
    </include>
    
	<arg name="raw_image_list" 		value =	   "/ladybug5/camera0/image_raw, /ladybug5/camera1/image_raw, 
												/ladybug5/camera2/image_raw, /ladybug5/camera3/image_raw, 
												/ladybug5/camera4/image_raw, /ladybug5/camera5/image_raw" />
	
	<arg name="raw_image_info_list"	value =    "/ladybug5/camera0/image_raw_info, /ladybug5/camera1/image_raw_info, 
												/ladybug5/camera2/image_raw_info, /ladybug5/camera3/image_raw_info,
												/ladybug5/camera4/image_raw_info, /ladybug5/camera5/image_raw_info" />
		
 	<include file="$(find kitti)/launch/extract_nodelet.launch" if="$(arg export)" >
 		<arg name="nodelet_manager"			value="$(arg nodelet_manager_name)" />
		<arg name="data_prefix"				value="$(arg path_kitti)" />
		<arg name="sync_topic"				value="/cloud_aggregator/add" if="$(arg aggregated)" />
		<arg name="sync_topic"				value="/velodyne/cloud"  unless="$(arg aggregated)" />
		<arg name="subscribe_topics_pcl"	value="[/cloud_aggregator/add]" if="$(arg aggregated)" />
		<arg name="subscribe_topics_pcl"	value="[/velodyne/cloud]" unless="$(arg aggregated)" />
		<arg name="pcl_frame_ids" 			value="[ladybug_camera0_rotated]" /> 	
		
													
		<arg name="subscribe_topics_image"	value=  "[/ladybug5/camera0/image_color_rect,
													  /ladybug5/camera1/image_color_rect,
													  /ladybug5/camera2/image_color_rect,
													  /ladybug5/camera3/image_color_rect,
													  /ladybug5/camera4/image_color_rect,
													  /ladybug5/camera5/image_color_rect]" />
													
		<arg name="subscribe_topics_image_info"	value=  "[/ladybug5/camera0/image_color_rect_info,
														  /ladybug5/camera1/image_color_rect_info,
														  /ladybug5/camera2/image_color_rect_info,
														  /ladybug5/camera3/image_color_rect_info,
														  /ladybug5/camera4/image_color_rect_info,
														  /ladybug5/camera5/image_color_rect_info
														  ]" />
															  
		<arg name="camera_frame_ids" 				value="[]"/>
 	</include>
 	
</launch>
