<launch>
	<param name="use_sim_time" 			value="true" />
	<!-- start options -->
	<arg name="bag_start_time"			default="0" />
	<arg name="save"					default="1" />
	<arg name="bag_delay"				default="7" />
	<arg name="rate"					default="1" />
	<arg name="play_arg"				default="--rate $(arg rate) --clock -s $(arg bag_start_time) -d $(arg bag_delay)" />
	<arg name="path" 					default="/home/fnolden/bagfile/set1_extracted_full/" />
	<arg name="files" 					default="$(arg path)data_2015-01-12-16-43-37.bag
							  				 " />
			
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg files) $(arg play_arg)">
	</node>
	
	<!-- Robot description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find barney)/urdf/barney.urdf.xacro'"/>
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/> -->
 
 
	<!-- processing options --> 
	<arg name="tf_calibration" 			default="0" />
	<arg name="match_image_pointcloud"	default="0" />
	<arg name="fusion"					default="1" />
	<arg name="nodelet_manager_name" 	default="ladybug_nodelet_manager" />
	<arg name="gamma"				  	default="1.9" />
  
 	<!-- Nodelet Manager -->
    <include file="$(find start)/launch/nodelet_manager.launch">
 		<arg name="name"				value="$(arg nodelet_manager_name)"/>
 		<arg name="threads"				value="8"/>
    </include>
    
    <!-- Calibration -->
    <include file="$(find start)/launch/ladybug_all_manual_calibration.launch" 	if="$(arg tf_calibration)" />
    
    <!-- Pointclouds -->
    <include file="$(find start)/launch/ladybug_all_pointclouds.launch" 		if="$(arg match_image_pointcloud)" >
    	<arg name="subscribe_topic_pcl" 	value="/cloud_aggregator/filtered" />
    	<arg name="nodelet_manager"			value="$(arg nodelet_manager_name)" />
    </include>
    
    <!-- Fusion -->
    <include file="$(find start)/launch/ladybug_all_fusion.launch" 				if="$(arg fusion)">
    	<arg name="save"					value="$(arg save)"	/>  
    	<arg name="gamma"					value="$(arg gamma)" />
    	<arg name="postfix"					value="/selected" />
    	<arg name="nodelet_manager"			value="$(arg nodelet_manager_name)"/> 		
    </include>
  
</launch>